@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

* {
  @include box-sizing(border-box);
}

#sprite-sheet-background{
  position: fixed;
  top:0;
  width: 100%;
  visibility: hidden;
}

.headerText {
  top: 10px;
  position: absolute;
  left: 38vw;
}

#video{
  height: auto;
  width: auto;
  position: fixed; right: 0; top:0;
  min-width: 1440px; min-height: 500px;
  z-index: -10;
}

.footerText{
  text-align: center;
  color: #ffffff;
  height: 100%;
  background: darken($game-green, 4);
  @include vertical-align;
  padding-top: .3in;
}

footer {
  z-index: 10;
  height: .75in;
  margin: 0;
  bottom: 0;
  padding: 0;

}

body{
  margin: 0;
  padding-top: 500px;
  width: 100%;
  height: 100%;
}

header {
  @include headerfooter-style;
  height: 500px;

}

.main, .Navigation {
  position: relative;
}

.Navigation{
  height: 80px;
  background: $game-grey;
  z-index: 150;
  margin-bottom: -80px;

}

h1 {
  font-size: 2.2rem;
  color:  #ffffff;
}

#selector-container{
  left: 50vw;
  position: absolute;
  bottom:10px;
}
#selector1, #selector2, #selector3{
  display: inline;
}

#right-arrow{
  position:absolute;
  top: 200px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  
}

#left-arrow{
  position:absolute;
  top: 200px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
}

.arrow-container{
  position: absolute;
  width: 100%;
  height: 100%;
}


#GameVideo{
  height: 400px;
  background: $game-brown;
  width: 100%;
  position: relative;
}

#carousel{
  height: 400px;
  width: 100vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#GameVideo div ul{
  display: inline-block;
  width: 300vw;
  height: 400px;
  padding: 0;
  margin: 0;
}

#GameVideo div ul li {
  width: 100vw;
  height: 400px;
  text-align: center;
  list-style-type: none;
  float: left;
}

.pic-info {
  height: 400px;
  float: left;
  width: 600px;
  margin-top: 150px;
  margin-left: 100px;
}


.pic-info h1{
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: lighten($game-green, 4);
}

.pic-info p{
  color: darken(#ffffff, 2);
  font-size: 1.2rem;

}

#GameVideo div ul li img{
  height: 400px;
  width: 400px;
  float: right;
  margin-right: 100px;
  margin-left: 100px;
}



#Portfolio{
  height: 5in;
  background: darken($game-green, 5);
}

.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  padding: 50px 50px 50px 50px;
  width: 100%;
  height: 100%;
  z-index: 150;
  background: $translucent-white;
  cursor: pointer;
}

.modal-container div{

  height: 100%;
  z-index: 200;

}

.modal-container div img{
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
  background: #ffffff;
  border: 20px solid #ffffff;
  border-radius: 25px;
}

#sprite-sheet{
  display: table;
  @include vertical-align;
}

#sprite-sheet div h1, #sprite-sheet div p{
  margin-bottom: 50px;
  color: #ffffff;
  text-align: center;
}

#sprite-sheet div p{
  font-size: 20px;
}
#image-layover{
  position: relative;
}

#image-layover img{
  background: #ffffff;
  padding: 0;
  cursor: pointer;
  width: auto;
}

#image-layover i{
  width: 50px;
  z-index: 50;
  position: absolute;
  color: #ffffff;
  opacity: .8;
  left: 24vw;
  top: 40%;
  cursor: pointer;
}

.table-center{
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 50%;
}


#About{
  height: 5in;
  background: darken($game-brown, 2);
  column-count: 3;
}

#column-container{
  width: 100%;
  list-style: none;
  display: table;
  @include vertical-align;
}

#column-container li{
  display: table-cell;
  width: 33%;
  padding-right: 20px;
  padding-left: 20px;
}

[class^="fa-"], [class*=" fa-"] {
  display: inline-block;
  width: 100%;
}

#column-container li h1, #column-container li i, #column-container li p{
  text-align: center;
}

#column-container li i{
  color: $game-green;
  margin-bottom: 20px;
}
#column-container li p{
  color: gainsboro;
  margin-top: 20px;
  line-height: 30px;
}

#Contact{
  height: 5in;
}

#Contact h1{
  margin-top: 100px;
  font-size: 3rem;
  text-align: center;
  color: $game-green;
}

#social-media-icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  @include vertical-align;
}


#social-media-icons i{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  color: darken($game-green, 10);
}

header, .Navigation-Scrolled{
  position: fixed;
  top: 0;
  width: 100%;

}

.Navigation, .nav-heading h1 {
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}

.Navigation-Scrolled{
  height: 60px;
}

.main {
  padding-top: 60px;
}

.nav-heading, .nav-links {
  float: left;
}

.nav-heading-shrink h1{
  padding-top: 20px !important;
}

.nav-heading h1 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
}

.nav-heading{
  width: 33.33%;
}

.nav-links {
  width: 66.66%;
  text-align: left;
}

.nav-links ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include vertically-center;

}

.nav-links ul li {
  font-size: 1.5rem;
  color: #ffffff;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-links ul li a{
  text-decoration: none;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-selected {
  background: $border-radius-color;

}



