$orange         : #BD3613;
$blue           : #2176C7;
$dark-blue      : #210055;
$game-brown     : #806745;
$game-green     : #4E964F;
$game-red       : #A31F05;
$game-grey      : #404040;
$border-radius-color: darken($game-grey, 5);

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;